<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheChosenOne.setting1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <TheChosenOne.setting1>
            <setting name="Interval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DrawInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MinNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxNumber" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>2</value>
            </setting>
        </TheChosenOne.setting1>
    </userSettings>
</configuration>